<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Selenio" version="0.5.3" targetFramework="net472" />
  <package id="Selenio.HtmlReporter" version="0.1.7" targetFramework="net472" />
  <package id="Selenium.Support" version="4.19.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.19.0" targetFramework="net472" />
</packages>